* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.title-box {
  background-color: #54adb6;
  width: 500px;
  text-align: right;
  font-size: 30px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: right;
}


h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
.navbar {
  background-color: #333;
  padding: 1rem 1rem 1rem 0rem;
  border-top: 4px solid #54adb6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}
.navlinks {
  display:flex;
  justify-content:space-evenly;
}
.navlinks div {
  margin-right: 30px;
  border-bottom: 3px solid #54adb6; 
  justify-content:space-between;
  color: #54adb6;
  font-size: 20px;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  height: 250px;
  display:flex;
  justify-content: right;
  align-items: end;
}

.Subheading {
  display:flex;
  background-color: #54adb6;
  width: 400px;
  text-align: right;
  font-size: 30px;
  height: 75px;
  align-items: center;
  justify-content: center;
}

.page-section {
  /* background-image: url("../images/02-portfolio-4.jpg"); */

}

.containerGrid {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows:50% 50%;
}

.leftSidebar {
  grid-area: leftSidebar;
}

.rightContent{
  grid-area: rightContent;
}